.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headerLeft {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 50px;
  order: -1;
}
.headerPlatform {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 0 1.6rem;
}
.headerPlatform:hover {
  background-color: #e6e9e9;
  border-radius: 8px;
}
.headerLink {
  font-size: 1.4rem;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #999999;
}
.headerLink:hover {
  background-color: #e6e9e9;
  border-radius: 8px;
  color: #111111;
}
.headerRight {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  order: 1;
}
.headerSettings {
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #111111;
}
.headerPopover {
  position: absolute;
  background-color: #e6e9e9;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 0;
  color: #111111;
}
.headerCurrency {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 1.6rem;
  border-left: 1px solid #e6e9e9;
}
.headerCurrency:hover {
  background-color: #e6e9e9;
}
.headerDeposit {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.7rem 1.6rem;
  display: inline-flex;
  border: 0;
  border-radius: 4px;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  outline: 0;
  margin: 0 4.6em 0 0 !important;
  background: #ff444f;
  color: #e6e9e9;
}
.headerDeposit:hover {
  outline: rgb(255, 0, 0) dashed 1px;
}
.headerAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerLogin {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding: 0.7rem 1.6rem;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  white-space: nowrap;
  color: #ff444f;
  background: white;
  margin: 0 2rem;
}
.headerLogin:hover {
  background: #e6e9e9;
}
.headerSignup {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.7rem 1.6rem;
  display: inline-flex;
  border: 0;
  border-radius: 4px;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  outline: 0;
  margin: 0 4.6em 0 0 !important;
  background: #ff444f;
  color: #e6e9e9;
}
.headerSignup:hover {
  background: rgb(255, 68, 79, 0.8);
}

.modalBase {
  top: 6%;
  left: 35%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  height: 20%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.modalBaseAfterOpen {
  opacity: 1;
  transform: scale(1);
}
.modalBaseBeforeClose {
  transform: scale(0.2);
  opacity: 0;
}
.overlayBase {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.5);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.overlayBaseAfterOpen {
  opacity: 1;
}
.overlayBaseBeforeClose {
  opacity: 0;
}
.accountTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px 0;
}
.accountType {
  width: 100%;
  height: 100%;
  padding: 5px 0;
}
.currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.currency:hover {
  background: #e6e9e9;
  border-radius: 5px;
}
.currencyBold {
  font-weight: bold;
}
.currencySmall {
  font-size: 12px;
  color: grey;
}
.accountList {
  padding: 0 10px;
}
